# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/.terraform.tfstate.lock.info
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars

# Rust
**/target/

# Python
**/.venv/

# Mac
.DS_Store

# Zip
**/*.zip
