prefix                               = "cloudfront-vpc-origin-alb"
parent_domain                        = "<ドメイン名>"
sub_domain                           = "<サブドメイン名>"
parent_domain_cross_account_role_arn = "<ドメインのある AWS アカウントのための IAM ロール>"
